.section-title {
  position: relative;
  font-weight: 500;
  font-size: 3.2rem;
  text-transform: capitalize;
  font-family: "Roboto-black";
}
.section-title::before {
  position: absolute;
  content: "";
  bottom: -39%;
  left: 0;
  width: calc(54% - 1.75rem);
  height: 2px;
  background-color: black;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -39%;
  right: 0;
  width: calc(54% - 1.75rem);
  height: 2px;
  background-color: black;
}
.symbol {
  border: 1px solid black;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.5rem 0 3rem 0;
  transform: rotate(45deg);
  background-color: white;
}
