.hero {
  min-height: 60vh;
  background-image: url(../../images/banner3.jpg);
  color: var(--color-primary-white);
  font-family: "Fontawsome";
  display: flex;
  flex-direction: column;
  padding: var(--padding-primary);
  margin-bottom: 5rem;
}
.hero-content {
  flex-grow: 1;
  flex-direction: column;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 850px) {
  .hero {
    padding: 0;
    background-image: none;
    height: unset;
  }
  .hero-content {
    background-image: url(../../images/banner3.jpg);
    min-height: 50vh;
  }
}

@media (max-width: 650px) {
  .hero-title {
    font-size: 3.8rem;
  }
}

@media (max-width: 550px) {
  .hero-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 550px) {
  .hero-title {
    font-size: 2.8rem;
  }
}
