.contact-card {
  /* background-color: red; */
  color: var(--color-primary-white);
  /* min-width: 25%; */
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateY(30%);
  opacity: 0;
  transition: scale 100ms linear;
  border-radius: 1.5rem;
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.7);
}

.display-card:nth-child(3) {
  animation-name: fade-in;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

.display-card:nth-child(2) {
  animation-name: fade-in;
  animation-delay: 100ms;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
.display-card:nth-child(1) {
  animation-name: fade-in;
  animation-delay: 200ms;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

.contact-card:first-child {
  background-color: #3bdd9a;
}
.contact-card:nth-child(2) {
  background-color: #fd5282;
}
.contact-card:nth-child(3) {
  background-color: #376de4;
}
.contact-card:hover {
  scale: 1.05;

  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.contact-card h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contact-card:nth-child(2) .contact-info {
  flex-direction: row;
  gap: 0.75rem;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-info li a {
  color: inherit;
  font-size: 1.6rem;
  display: flex;
  gap: 0.5rem;
}
.contact-info li a svg {
  fill: #fff;
  width: 1.6rem;
}

/* .contact-card:nth-child(4) {
    object-position: center;
    object-fit: cover;
    background-color: #82c3f4;
  }
  .contact-card:nth-child(4) img {
    width: 50%;
    margin: 0 auto;
  } */

@media (max-width: 1070px) {
  .contact-card {
    flex-basis: 40%;
  }
}

@media (max-width: 520px) {
  .contact-card {
    flex-basis: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
