.contact-card {
  /* background-color: red; */
  color: var(--color-primary-white);
  /* min-width: 25%; */
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
}

.contact-card:first-child {
  background-color: #3bdd9a;
}
.contact-card:nth-child(2) {
  background-color: #fd5282;
}
.contact-card:nth-child(3) {
  background-color: #376de4;
}

.contact-card h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contact-card:nth-child(2) .contact-info {
  flex-direction: row;
  gap: 0.75rem;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-info li a {
  color: inherit;
  font-size: 1.6rem;
  display: flex;
  gap: 0.5rem;
}
.contact-info li a svg {
  fill: #fff;
  width: 1.6rem;
}

/* .contact-card:nth-child(4) {
    object-position: center;
    object-fit: cover;
    background-color: #82c3f4;
  }
  .contact-card:nth-child(4) img {
    width: 50%;
    margin: 0 auto;
  } */

@media (max-width: 1070px) {
  .contact-card {
    flex-basis: 40%;
  }
}

@media (max-width: 520px) {
  .contact-card {
    flex-basis: 100%;
  }
}
