.testemonial-card {
  background-color: #82c3f4;
  padding: 2rem 2rem;
  transform: translateY(30%);
  opacity: 0;
  scale: 1;
  transition: scale 100ms linear;
  border-radius: 1.5rem;
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.7);
}

.display-card {
  animation-name: fade-in;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  /* transform: translateY(0); */
}

.display-card:nth-child(2) {
  animation-name: fade-in;
  animation-delay: 100ms;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
.display-card:nth-child(3) {
  animation-name: fade-in;
  animation-delay: 200ms;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

.testemonial-card:hover {
  scale: 1.05;

  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.user-img__container {
  object-fit: cover;
  object-position: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px double #fff;
}
.user-img__container img {
  width: 100%;
}
.rating-container {
  display: flex;
  flex-direction: column;
}
.user-name {
  font-size: 1.4rem;
  font-weight: var(--font-bold-700);
  text-transform: uppercase;
}

.rating svg {
  stroke: #fff;
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
}

.testemonial-content {
  color: #fff;
  line-height: 1.7;
}

@media (max-width: 1300px) {
  .testemonial-card {
    flex-basis: 40%;
    flex-shrink: 0;
  }
}

@media (max-width: 950px) {
  .testemonial-card {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
