.testemonial-card {
  background-color: #82c3f4;
  padding: 2rem 2rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.user-img__container {
  object-fit: cover;
  object-position: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px double #fff;
}
.user-img__container img {
  width: 100%;
}
.rating-container {
  display: flex;
  flex-direction: column;
}
.user-name {
  font-size: 1.4rem;
  font-weight: var(--font-bold-700);
  text-transform: uppercase;
}

.rating svg {
  stroke: #fff;
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
}

.testemonial-content {
  color: #fff;
  line-height: 1.7;
}
