.main-header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.logo {
  line-height: 1.2;
  font-weight: var(--font-bold-700);
  text-transform: uppercase;
  font-size: 4.4rem;
}

.logo span {
  border: 2px solid var(--color-primary-white);
  border-right: none;
  color: var(--color-primary-orange);
  padding-left: 0.25em;
}

.main-header > ul {
  display: flex;
  gap: 2.5rem;
}
.main-header__link:link,
.main-header__link:visited {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 850px) {
  .main-header {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    background-color: #1276b8;
    /* flex-grow: 1; */
  }
}
