@font-face {
  font-family: "Fontawsome";
  src: url(./fonts/fontawesome-webfont.eot);
}

/* font-family: "Fontawsome"; */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background-color: #212121;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-primary-white: #f5f5f5;
  --color-primary-orange: rgb(253, 151, 39);
  --padding-primary: 0 3rem;
  --font-bold-700: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.7;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  display: inline-block;
}
button {
  border: none;
}
span {
  display: inline-block;
}
img {
  display: block;
}
